{% extends "games_base.html" %}

{% block content %}
<ul style="background-color: #333333;">
    <div class="container">
        <div class="row">
            {% for game in games %}
            <div class="card" style="color: #AFBBF2; background-color: #525252; width: 25rem; margin: 10px; padding-top: 12px; border-radius: 7%;">
                <a href="{{ game.game_url }}"><img class="card-img-top" src="{{ game.thumbnail }}" alt=""></a>
                <div class="card-body">
                    <ul class="card-text">
                        <li><b> Title: </b>{{ game.title }} </li>
                        <li><b> Description: </b>{{ game.short_description }}</li>
                        <li><b> Genre: </b>{{ game.genre }}</li>
                        <li><b> Platform: </b>{{ game.platform }}</li>
                        <li><b> Release Date: </b> {{ game.release_date }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</ul>
<sub> List provided by <a href="https://www.freetogame.com/">https://www.freetogame.com/</a></sub>
{% endblock %}